nav img{
    width: 50px;
}
nav{
    background-color: rgb(166, 242, 242);
    padding: 10px;
}
ul{
    float: right;
    list-style-type: none;

}
ul li{
    display: inline-block;
    padding: 10px;
}
li a{
    color:  red;
    text-decoration: none;
    cursor: pointer;
}